
<div class="jumbotron">
    <h1>ASP.NET MVC 5</h1>
    <p class="lead">自製範本</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            1.修改Active Directory Domain 檔案：Models/AdAuthenticationService.cs
            <br />
            2.可在Global.cs/Application_Error 中 自行定義Global Application_Error的記錄方式
            <br />
            3.可在Filters/CustomerErrorAttribute.cs中自行定義記錄方式或改寫
            <br />
            4.Error.cshtml可自行修改樣式，提供的錯誤識別碼在Filters/CustomerErrorAttribute.cs可做調整
            <br />
            6.BaseController已將JsonResult改寫為使用JsonNet
            <br />
            7.新增Controller時繼承自BaseController即可使用PageTitleAttribute
        </p>
    </div>
</div>